<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031356873730-cv1qqblh4qr87hnf5a7kp1ggipie4mvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031356873730-cv1qqblh4qr87hnf5a7kp1ggipie4mvh</string>
	<key>API_KEY</key>
	<string>AIzaSyB-k_berV16BJsANcwIgT6JtXrNVmvXMow</string>
	<key>GCM_SENDER_ID</key>
	<string>1031356873730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faheemTask</string>
	<key>PROJECT_ID</key>
	<string>faheem-8127e</string>
	<key>STORAGE_BUCKET</key>
	<string>faheem-8127e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031356873730:ios:aa4ac378e54fc5f5133b1b</string>
</dict>
</plist>